In [1]:
import pandas as pd

In [2]:
# Đọc dữ liệu từ file CSV
df = pd.read_csv("data/data5.csv")

In [3]:
df.head()

               Name   Department           Position  Salary   Hire-Date
0  Richard Anderson           HR              Staff  3533.0  2022-08-15
1     Linda Jackson   Accounting              Staff  7324.0  2019-06-14
2    Charles Harris    Marketing  Assistant Manager  5237.0  2017-10-07
3  Richard Williams  Engineering            Manager  9754.0  2017-04-23
4  Richard Thompson        Sales              Staff  7411.0  2020-08-19

In [4]:
# Kiểm tra các giá trị thiếu
print(df.isnull().sum())

Name          0
Department    0
Position      0
Salary        1
Hire-Date     1
dtype: int64

In [6]:
# Thay thế NaN bằng giá trị trung bình của cột "Salary"
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

# Xóa các hàng có giá trị thiếu
df = df.dropna()

# In ra kết quả
print(df.isnull().sum())

Name          0
Department    0
Position      0
Salary        0
Hire-Date     0
dtype: int64

In [7]:
# Kiểm tra các dòng trùng lặp
print(df.duplicated().sum())

2

In [8]:
# Loại bỏ các dòng trùng lặp
df = df.drop_duplicates()

# Kiểm tra các dòng trùng lặp
print(df.duplicated().sum())

0

In [9]:
# Chuyển đổi cột "Hire Date" sang kiểu datetime
df['Hire-Date'] = pd.to_datetime(df['Hire-Date'])

In [10]:
df.head()

               Name   Department           Position  Salary  Hire-Date
0  Richard Anderson           HR              Staff  3533.0 2022-08-15
1     Linda Jackson   Accounting              Staff  7324.0 2019-06-14
2    Charles Harris    Marketing  Assistant Manager  5237.0 2017-10-07
3  Richard Williams  Engineering            Manager  9754.0 2017-04-23
4  Richard Thompson        Sales              Staff  7411.0 2020-08-19

In [11]:
# Chuẩn hóa chuỗi ký tự (loại bỏ khoảng trắng thừa)
df['Name'] = df['Name'].str.strip()
df['Department'] = df['Department'].str.strip()

# In ra kết quả
print(df.head())

               Name   Department           Position  Salary  Hire-Date
0  Richard Anderson           HR              Staff  3533.0 2022-08-15
1     Linda Jackson   Accounting              Staff  7324.0 2019-06-14
2    Charles Harris    Marketing  Assistant Manager  5237.0 2017-10-07
3  Richard Williams  Engineering            Manager  9754.0 2017-04-23
4  Richard Thompson        Sales              Staff  7411.0 2020-08-19